<p id="notice"><%= notice %></p>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Items</h1>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-sm-6">
              <div class="card">
                <%= image_tag item.thumbnail if item.thumbnail.present? %>
                  <div class="card-body">
                    <h5 class="card-title"><%= item.title %></h5>
                    <p class="card-text"><%= truncate(strip_tags(item.body.to_s), length: 140) %></p>

                    <p class="card-text"><%= item.price %></p>   
                      <%= link_to 'Show', item if user_signed_in? %>
                      <%= link_to 'Edit', edit_item_path(item) if user_signed_in? %>
                      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %>
                  </div>
                </div>
              </div>
           <% end %>
        </div>
        <%= link_to 'New Item', new_item_path if user_signed_in? %>
      </div>
    </div>
  </section>
</main>
